.additional-actions {
  position: relative;

  &__arrow {
    @media (min-width: $screen-size-m) {
      display: none;
    }
  }

  &__buttons {
    @media (max-width: $screen-size-m) {
      display: none;
    }
  }

  &__buttons--opened {
    @media (max-width: $screen-size-m) {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 100%;
    }
  }
}