.additional-actions {
  position: relative;

  &__arrow {
    @media (min-width: $screen-size-m) {
      display: none;
    }
  }

  &__buttons {
    @media (max-width: $screen-size-m) {
      display: none;
    }
  }

  &__buttons--opened {
    @media (max-width: $screen-size-m) {
      display: flex;
      flex-direction: column;
      padding: 5px;
      position: absolute;
      bottom: 100%;
      background-color: $main-background-color;
      border-radius: 10px;
    }
  }
}