.app {
  @include full-screen;

  display: grid;
  grid-template: 1fr #{$footer-height} / 1fr 0px;
  background-color: $main-background-color;

  transition-property: grid-template, column-gap;
  transition-duration: .3s;
  transition-timing-function: ease;

  &--sidebar-on {
    grid-template: 1fr #{$footer-height} / 1fr 400px;
    column-gap: 20px;

    @media (max-width: $screen-size-m) {
      grid-template: 1fr #{$footer-height} / 0px 1fr;
      column-gap: 0px;
    }
  }
}