.footer {
  width: 100%;
  height: $footer-height;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;

  grid-row: 2;
  grid-column: span 2;

  &__call-buttons-set {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 12px;
    padding: 0 6px;
  }
}