.participants {
  padding: 10px;
  overflow: hidden;

  &__content-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;

    @media (max-width: $tablet-size) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }

  &__cell {
    background-color: #FFDAB9;
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
}